<form class="form-group" method="post" action="/create">
	<fieldset class="form-group">
		<input class="form-control" type="text" name="name" id="name" required>
	</fieldset>
	<fieldset class="form-group">
		<input class="form-control" type="text" name="locDes" id="locDes" required>
	</fieldset>
	<fieldset class="form-group">
		<input class="form-control" name="itemName" id="itemName" required>
	</fieldset>
	<fieldset class="form-group">
		<input class="form-control" name="itemPrice" id="itemPrice" required>
	</fieldset>
</form>
