<div style="padding-top:70px;" class="container" ng-controller="StoreController as store">
	<ul class="list-group">
		<li class="list-group-item" ng-repeat="product in store.products | limitTo:4 | orderBy:'price'" ng-hide="store.product.soldOut">
			<h3>
				<product-title></product-title>
				<!--<img style="object-fit: cover" ng-src="{[{product.images[0].full}]}"
				     class="img-thumbnail img-responsive center-block" width="250px" height="250px">-->
				<image-gallery></image-gallery>
			</h3>
			<!--<p>{[{product.description}]}</p>-->
			<button class="btn btn-default pull-right" ng-show="product.canPurchase"><i class="fa fa-shopping-cart"> </i> Order</button>
			<product-panels></product-panels>

		</li>
	</ul>

</div>
